<!DOCTYPE html>
<html>
<head>
  <title>Crear Servidor</title>
  
  <link rel="stylesheet" href="../styles/crear_servidor.css">

</head>

<body>

  <div class="form-container">
  
    <h1>Crear nuevo servidor</h1>
  
    <form id="crear_nuevo">
    
      <div class="form-control">
        <input type="hidden" id="id_usuario" name="id_usuario" value="1">
        <label for="nombre_servidor">Nombre del servidor</label>
        <input type="text" id="nombre_servidor" name="nombre_servidor">
      </div>
      
      <button type="submit">Crear Servidor</button>
    
    </form>

  </div>

  <script src="../scripts/script.js"></script>
</body>
</html>