<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Discordio</title>
</head>
<body>
    <div class="container">
        <div class="column" id="server-column">
            <!-- Lista de servidores -->
            <ul id="server-list">
                <!-- Aquí se cargarán los servidores dinámicamente -->
            </ul>
            <input type="text" id="server-name" placeholder="Nombre del Servidor">
            <button id="create-server">Crear Servidor</button>

        </div>
        <div class="column" id="channel-column">
            <!-- nombre del servidor al que pertenece el canal -->
            <h3 id="server-name"></h3>
            <!-- Lista de canales -->
            <ul id="channel-list">
                <!-- Aquí se cargarán los canales del servidor seleccionado -->
            </ul>
            <input type="text" id="channel-name" placeholder="Nombre del Canal">
            <button id="create-channel">Crear Canal</button>
        </div>
        <div class="column" id="message-column">
            <!-- Lista de mensajes -->
            <ul id="chat-list">
                <!-- Aquí se cargarán los mensajes del canal seleccionado -->
            </ul>
            <input type="text" id="message-input" placeholder="Escribe un mensaje...">
        </div>
    </div>
    <script src="../scripts/prueba.js"></script>
    <script src="../scripts/script.js"></script>
</body>
</html>
