<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>Discordio</header>
    <main class="main">
        <aside>
            <h2>Discordio</h2>
            <p>Unete al servidor que mas te interese</p>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, modi!</h3>
            <ul>
                <li class="link-item">
                    <a href="/templates/login.html">Iniciar sesion</a>
                </li>
                <li class="link-item">
                    <a href="/templates/register.html">Registrarme</a>
                </li>
            </ul>
        </aside>
        <article class="servers-art">
            <h1>Discordio</h1>
            <h2>Servidores disponibles</h2>
            <section class="servers-seccion">
            <div class="servers-cards" id="servers-cards"></div>
            </section>
        </article>

    </main>
    <footer>Discordio - 2023 </footer>
    <script src="/scripts/index.js"></script>
</body>
</html>