<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discordio</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <!-- Lista de servidores -->
    <div class="column">
        <h2>Servidores</h2>
        <ul id="data-list">
            <!-- servidores del usuario -->
        </ul>
        <button id="create-server">Crear Servidor</button>
    </div>

    <!-- Lista de canales -->
    <div class="column">
        <h2>Canales</h2>
        <ul id="channel-list">
            <!-- canales del servidor -->
        </ul>
        <button id="create-channel">Crear Canal</button>
    </div>

    <!-- Chat -->
    <div class="column">
        <h2>Chat</h2>
        <div id="chat-messages">
            <!-- mensajes del chat -->
        </div>
        <input type="text" id="message-input" placeholder="Escribe un mensaje">
        <button id="send-message">Enviar</button>
    </div>

    <!-- Scripts -->
    <script src="../scripts/script.js"></script>
</body>
</html>
