<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, 
initial-scale=1.0">
 <title>Login</title>
</head>
<body>
 <h1>Login</h1>
 <form id="loginForm">
 <label for="nombre_usuario">Username:</label>
 <input type="text" id="nombre_usuario" name="nombre_usuario" required>
 <br>
 <label for="contrasena">Password:</label>
 <input type="password" id="contrasena" name="contrasena" required>
 <br>
 <button type="submit">Login</button>
 </form>
 <div id="message"></div>
 
 <script src="../scripts/iniciar_sesion.js"></script>
</body>
</html>