<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sección</title>
    <link rel="stylesheet" href="../styles/login_register.css">
</head>
<body>
    <main>
            <!--Formulario Login-->
        <div class="contenedor_login">
            <!--Login-->
            <form action="" class="form_login" id="loginForm">
                <h2>Iniciar Sección</h2><br>
                <label for="nombre_usuario">Username:</label>
                <input type="text" id="nombre_usuario" name="nombre_usuario" required>
                <br>
                <label for="contrasena">Password:</label>
                <input type="password" id="contrasena" name="contrasena" required>
                <br>
                <button type="submit">Login</button>
                <p>¿No tienes una cuenta?<a href="register.html">Registrarse</a></p>
            </form>
    </main>
    <script src="../scripts/login_register.js"></script>
    <script>
        document
    .getElementById("loginForm")
    .addEventListener("submit", function (event) {
        event.preventDefault();
        login();
    });
    </script>
</body>
</html>