<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, 
initial-scale=1.0">
 <title>Profile</title>
</head>
<body>
 <div id="message">
 <h1>User Profile</h1>
 <p><strong>Username:</strong> <span id="nombre_usuario"></span></p>
 <p><strong>Email:</strong> <span id="email"></span></p>
 <p><strong>First Name:</strong> <span
id="nombre"></span></p>
 <p><strong>Last Name:</strong> <span
id="apellido"></span></p>
 </div>
 
 <button id="logout">Logout</button>
 
 <script src="../scripts/perfil.js"></script>
</body>
</html>