<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, 
initial-scale=1.0">
   <title>Profile</title>
   <link rel="stylesheet" href="/styles/reset.css">
   <link rel="stylesheet" href="/styles/perfil.css">
</head>

<body>
   <header>
      <h1>D i s c o r d i o</h1>
      <div class="opciones">
          <a href="/templates/servidores.html">Volver atras</a>
          <button class="logout" onclick="logout()">Cerrar sesion</button>
      </div>
   </header>
   <main class="main">

      <div id="message">
         <h2>Mi perfil</h2>
         <div class="box">
         <p><strong>Nombre de Usuario:</strong> <span id="nombre_usuario"></span></p>
         <p><strong>Email:</strong> <span id="email"></span></p>
         <p><strong>Nombre:</strong> <span id="nombre"></span></p>
         <p><strong>Apellido:</strong> <span id="apellido"></span></p>
         <button id="update">Editar perfil</button>
         
         </div>
         <p id="response"></p>
      </div>

      <!-- <button id="logout" >Logout</button> -->
   </main>
   <footer>Discordio - 2023 </footer>
   <script src="../scripts/perfil.js"></script>
   <script src="../scripts/login_register.js"></script>

</body>

</html>