body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color:  rgb(43, 3, 54);
    color: #fff;
}

header {
    font-size: 1.5rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.servers-art {
    background-color: rgb(31, 19, 34);
    color: #fff;
}

article, aside {
    padding: 1rem;
    margin: .5rem;
}

aside {
    background-color: rgb(209, 166, 246);
}


.link-item {
    background-color:rgb(52, 17, 61);
    padding: .7rem;
    margin: 6px;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-transform:uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
}

/* SECCION CON SERVIDORES */
.servers-seccion {
    margin: 2rem;
}

.servers-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.server {
    padding: 1rem;
    background-color: rgb(79, 45, 92);
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(229, 224, 236, 0.767);
}